[workspace]
resolver = "2"
members = [
    "rustynum-core",
    "rustynum-rs",
    "rustyblas",
    "rustymkl",
    "rustynum-arrow",
    "rustynum-holo",
    "rustynum-archive",
    "rustynum-archive-v3",
    "bindings/python",
]
